NEBULA_HOST=192.168.5.141

# Development: uncomment to run local source code instead of the code
# baked into the images.
COMPOSE_FILE=compose.yml:compose.dev.yml
NEBULA_SERVER_PATH=./nebula-server/backend
NEBULA_WORKER_PATH=./nebula-worker
