<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <paths>
        <media-path>/storage/media.dir</media-path>
        <log-path disable="true">/storage/log.dir</log-path>
        <data-path>/storage/data.dir</data-path>
        <template-path>/storage/template.dir</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>720p5000</video-mode>
            <consumers>
                <!-- <ffmpeg> -->
                <!--     <path>udp://mediamtx:1234?pkt_size=1316</path> -->
                <!--     <args> -->
                <!--       -format mpegts  -->
                <!--       -codec:v libx264  -->
                <!--       -preset:v ultrafast  -->
                <!--       -tune:v zerolatency  -->
                <!--       -g:v 50  -->
                <!--       -b:v 2M  -->
                <!--       -codec:a aac  -->
                <!--       -b:a 128k  -->
                <!--       -filter:a aformat=channel_layouts=stereo -->
                <!--     </args> -->
                <!--     <realtime>true</realtime> -->
                <!-- </ffmpeg> -->
            </consumers>
        </channel>
    </channels>
    <osc>
      <predefined-clients>
        <predefined-client>
          <address>172.28.0.10</address>
          <port>6251</port>
        </predefined-client>
      </predefined-clients>
    </osc>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
</configuration>
